*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #ffff;
}
.row{
    background:  rgba(255, 253, 253, 0.75);  
    border-radius: 30px;
    box-shadow: 5px 5px 10px #dddbdb;
}
/* image styling */
img{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
/* logo design */
.logo{
    padding-right: 50px;
    display: flex;
}
.logo a{
    text-decoration: none;
}
.head2 h2{

justify-self: center;
 color: #000;
font-family: Inter;
font-style: normal;
font-weight:bold;
line-height: normal;
}
.head{
    display: flex;
    margin-top: 10px;
    margin-bottom: 100px;
}

h4{
   text-decoration: none;
   font-weight: 1px;
   font-size: medium;
   color: #000;
}
.p-logo{
background: #E54949;
color: #fff;
padding: 4px 14px;
border-radius: 50%;
font-size: 20px;
}

/* form styling */
.sign-form{
    padding-left: 20%;
}

form{
    margin-bottom: 100px;
}
::placeholder{
    text-align: center;
  
}
.form-input{
    width: 100%;
    height: 10px;
    padding: 10px;
    border-radius: 20px;
    outline: #E54949;
    border: 2px solid #888484;
    background: #FFF;
}

/* button styling */
.btn1{
    border-style: none;
    outline: none;
    color: #fff;
    border-radius: 20px;
    background: #E54949;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    height: 50px;
    font-weight: bold;   
}
.btn1:hover{
    background:#888484; 
}
.forget{
    font-weight:bold;
    justify-content: center;
    align-items: center;
}
.forget a{
    text-decoration: none;
    color: #E54949;
}
.head-register{
    display: flex;
    margin-top: 5px;
    margin-bottom: 50px;
}
